<%= javascript_tag "var LIST_ID = '#{@list.slug}';" %>

<div>
<h1><%= best_in_place @list, :title %></h1>
<h3><%= best_in_place @list, :description, :nil => "Click me to add description" %></h3>

<div>
<%= link_to :delete, @list, :method => :delete,
                            :data => { :confirm => "Are you sure?" },
                            :title => @list.title %>
</div>

<%= render "share"%>

<%= render "todos/todo_form" %>

<% if @list.todos.empty? %>
  <ul id="todo-list"></ul>
<% else %>
  <%= render :partial => "todolist", :locals => { :todos => @list.ordered_todos }%>
<% end %>  
