<div class="list-header span-15">
<h1><%= best_in_place @list, :title %></h1>
<h3><%= best_in_place @list, :description, :nil => "Click me to add description" %></h3>

<div class="list-actions span-15">
<%= link_to :delete, @list, :method => :delete,
                            :confirm => "Are you sure?",
                            :title => @list.title %>
</div>


<%= render "todos/todo_form" %>

<% unless @list.todos.empty? %>
  <%= render :partial => "todolist", :locals => { :todos => @list.ordered_todos }%>
<% end %>  
