<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render "layouts/iefixes" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", "#{FAYE_URL}.js" %>
  <%= javascript_tag "var FAYE_URL = '#{FAYE_URL}';" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<%= render "layouts/header" %>

<div class="content">
<%= yield %>
</div>

<%= render "layouts/footer" %>

<% if Rails.env.development? %>
<div style="clear:both;">
<!-- Debug output in development -->
  <%= debug(params) %>
<% end %>

<% if Rails.env.production? %>
<!-- Analytics in production -->
  <%= javascript_tag "var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-33072228-1']);_gaq.push(['_trackPageview']);(function(){var b=document.createElement('script');b.type='text/javascript';b.async=true;b.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var a=document.getElementsByTagName('script')[0];a.parentNode.insertBefore(b,a)})();" %>
<% end %>

</div>
</body>
</html>
