<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render "layouts/iefixes" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", "#{FAYE_URL}.js" %>
  <%= javascript_tag "var FAYE_URL = '#{FAYE_URL}';" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<%= render "layouts/header" %>

<div class="content">
<%= yield %>
</div>

<%= render "layouts/footer" %>

<% if Rails.env.development? %>
<div style="clear:both;">
<!-- Debug output in development -->
  <%= debug(params) %>
<% end %>

<% if Rails.env.production? %>
<!-- Analytics in production -->
 <% analytics_init %>
<% end %>

</div>
</body>
</html>
