<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= render "layouts/iefixes" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", "#{faye_js}" %>
  <%= javascript_tag "var FAYE_URL = '#{faye_server}';" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<%= render "layouts/header" %>

<div class="content">
<%= yield %>
</div>

<%= render "layouts/footer" %>

<% if false && Rails.env.development? %>
  <div style="clear:both;">
  <%= debug(params) %>
<% end %>

<% if Rails.env.production? %>
  <%= analytics_init %>
  <%= facebook_share_once %>
<% end %>

</div>
</body>
</html>
