<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render "layouts/iefixes" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application", "http://js.pusher.com/1.11/pusher.min.js" %>
  <%= javascript_tag "var PUSHER_KEY = '#{Pusher.key}';" %>
  <% if Rails.env.development? %>
  <script>// Enable pusher logging
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging
    WEB_SOCKET_DEBUG = true;
  </script>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<%= render "layouts/header" %>

<div class="content">
<%= yield %>
</div>

<%= render "layouts/footer" %>

<% if Rails.env.development? %>
<div style="clear:both;">
<!-- Debug output in development -->
  <%= debug(params) %>
<% end %>

</div>
</body>
</html>
